<form>
  <div class="form-grup">
    <%= label_tag nil, @mining_type.class.human_attribute_name(:description) %>
    <%= text_field_tag nil, @mining_type.description, class:"form-control", disabled:true %>
  </div>

  <div class="form-grup">
    <%= label_tag nil, @mining_type.class.human_attribute_name(:acronym) %>
    <%= text_field_tag nil, @mining_type.acronym, class:"form-control", disabled:true %>
  </div>
  
  <%=link_to t('link.edit'), edit_mining_type_url(@mining_type), class:"btn btn-primary"%>
  <%=link_to t('link.back'), mining_types_path, class:"btn btn-danger"%>

 </form>